/* General Layout Styling */
.layout {
  border: 3px solid rgb(13, 127, 199);
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* background-color: white; */
  position: relative;
  border: 5px solid transparent;
  padding: 20px;
  /* border-radius: 10px; */
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.animated-border {
  background-clip: padding-box;
  animation: borderAnimation 3s linear infinite;
}

@keyframes borderAnimation {
  0% {
      border-image: linear-gradient(90deg, rgb(15, 111, 148), white) 1;
  }
  50% {
      border-image: linear-gradient(90deg, white, rgb(15, 111, 148)) 1;
  }
  100% {
      border-image: linear-gradient(90deg, skyblue, rgb(15, 111, 148)) 1;
  }
}

.orange-button {
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.orange-button:hover {
  background-color: #ff9500;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}












